//COLORS
$color-primary: #44bf6d;
$color-primary-light: #2be83e;
$color-primary-dark: #09bf79;
$color-white: #fff;
$color-gray: #777;
$color-black: #000;
$color-gray-light: #f7f7f7;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
