.composition {
  position: relative;
  &_photos {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    z-index: 10; //it need to higher value
    transition: all 0.2s;
    outline-offset: 2rem; //this give some space between the borders

    &_p1 {
      left: 0;
      top: -2rem;
    }
    &_p2 {
      right: -5%;
      top: 0rem;
    }
    &_p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      outline: 1.5rem solid $color-primary; //this gives a border outline for the image
      transform: scale(1.15);
      z-index: 20; //z index should need to lower value
    }
  }

  &:hover &_photos:not(:hover) {
    transform: scale(0.89);
  }
  //   .composition:hover .composition_photos:not(:hover) {
  //     transform: scale(0.89);
  //   }
}
